.idea

.DS_Store

node_modules

common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

packages/*/*.build.log
packages/*/*.build.error.log
packages/*/tsconfig.tsbuildinfo
packages/*/src/**/*.d.ts
packages/*/src/**/*.js
